
$cbt-blue:   #32B0FF;
$cbt-green:  #00b050;
$cbt-orange: #e65c00;
$cbt-steel:  #688094;
$cbt-cyan:   #00b3d6;


$base-color: $cbt-cyan;

$nav-child-link-color: $grey-dk-100;
$btn-primary-color: $base-color;
//$base-button-color: #f7f7f7;
$link-color: $base-color;
//$body-heading-color: $base-color;

@import url(https://fonts.googleapis.com/css?family=Lato:300,400,900);

$body-font-family: "Lato", -apple-system, BlinkMacSystemFont, "helvetica neue", helvetica, roboto, noto, "segoe ui", arial, sans-serif;

$root-font-size: 16px;
$body-line-height: 1.4;
$content-line-height: 1.25;
//$body-heading-line-height: 1.15;







