<!--Build the modal overlay for nice picture display-->
  <div class="wrapper" style="position: relative">
    <div id="modal-overlay">
      <!--
      <a href="javascript:void(0);" id="modal-prev" class="modal-main-nav modal-btn" title="Previous (Left Arrow Key)">
        <i class="fas fa-chevron-circle-left"></i>
      </a>
      -->
      <div id="modal" title="Click anywhere to close (Esc)">
          <div id="modal-content">
            <a href="#" id="modal-img-a" class="img-overlay-container" title="Scroll to Image">
                <img id="modal-img"/>
            </a>
            <div id="modal-description"/></div>
          </div>
      </div>

        <a href="javascript:void(0);" id="modal-close" class="modal-btn" title="Close (Esc)">
              <i class="fas fa-times-circle"></i>
        </a>

        <div class="modal-small-nav-container">
          <a href="javascript:void(0);"
             id="modal-prev-aux"
             class="modal-small-nav modal-btn"
             title="Previous (Left Arrow Key)">
              <i class="fas fa-chevron-circle-left"></i>
            </a>

          <a href="javascript:void(0);"
             id="modal-next-aux"
             class="modal-small-nav modal-btn"
             title="Next (Right Arrow Key)">
              <i class="fas fa-chevron-circle-right"></i>
          </a>
        </div>
    </div>
  </div>

  <script src="{{ "/assets/js/img-modal.js" | absolute_url }}"></script>