  
{% assign all_pages = "" | split: ',' %}
{% assign all_urls = "" | split: ',' %}
{% assign all_levels = "" | split: ',' %}
{% assign all_crumbs = "" | split: ',' %}
  {%- assign pages_list = site.html_pages | sort:"nav_order" -%}
    {%- for node in pages_list -%}
      {%- unless node.nav_exclude -%}
        {%- if node.parent == nil -%}
            {%- if page.parent == node.title or page.grand_parent == node.title -%}
              {%- assign first_level_url = node.url | absolute_url -%}
            {%- endif -%}

              {% assign all_pages = all_pages | push: node.title %}
              {% assign all_urls = all_urls | push: node.url %}
              {% assign all_levels = all_levels | push: 0 %}

              {% assign all_crumbs = all_crumbs | push: '/'  %}


              {% if node.url==page.url or page.parent == node.title or page.grand_parent == node.title  %}


              {%- if node.has_children -%}
                {%- assign children_list = site.html_pages | where: "parent", node.title | sort:"nav_order" -%}
                  {%- for child in children_list -%}


                      {% assign all_pages = all_pages | push: child.title %}
                      {% assign all_urls = all_urls | push: child.url %}
                      {% assign all_levels = all_levels | push: 1 %}

                      {% assign curr_crumb = node.title | append: ' / ' %}
                      {% assign all_crumbs = all_crumbs | push: curr_crumb %} 


                      {%- if child.has_children -%}

                          {%- assign grand_children_list = site.html_pages | where: "parent", child.title | sort:"nav_order" -%}
                          {%- for grand_child in grand_children_list -%}


                            {% assign all_pages = all_pages | push: grand_child.title %}
                            {% assign all_urls = all_urls | push: grand_child.url %} 
                            {% assign all_levels = all_levels | push: 2 %}

                            {% assign curr_crumb = node.title | append: ' / ' | append: child.title | append: ' / ' %}

                            {% assign all_crumbs = all_crumbs |  push: curr_crumb  %} 


                          {%- endfor -%}
                      {%- endif -%}
                  {%- endfor -%}
              {%- endif -%}
            {% endif %}
        {%- endif -%}
      {%- endunless -%}
    {%- endfor -%}




<div class="section-nav">

{%- for url_item in all_urls -%}

  {% if url_item == page.url %}
  {% assign curr_idx = forloop.index0 %}
  {% assign prev_idx = forloop.index0 | minus: 1 %}
  {% assign next_idx = forloop.index0 | plus: 1 %}
    
    {% if prev_idx >= 1 %}
      <a href="{{ all_urls[prev_idx] | absolute_url }}"
         id="prev-section"
         class="btn {% if all_levels[prev_idx] ==0 %}btn-primary{% endif %}">
        <i class="fas fa-chevron-left"></i>
        <div class="section-nav-content">
        <div class=section-nav-crumb>{{ all_crumbs[prev_idx] }}</div>
        {{ all_pages[prev_idx] }}
        </div>
      </a>
    {% endif %}


    {% if next_idx < forloop.length %}
      <a href="{{ all_urls[next_idx] | absolute_url }}"
         id="next-section"
         class="btn {% if all_levels[next_idx] ==0 %}btn-primary{% endif %}">
        <div class="section-nav-content">
           <div class=section-nav-crumb>{{ all_crumbs[next_idx] }}</div>
           {{ all_pages[next_idx] }}
        </div>
        <i class="fas fa-chevron-right"></i>
      </a>
    {% endif %}

  {% endif %}
{%- endfor -%}
 
</div>