//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4{font-weight: bolder;}

.main-content-wrap, html{
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $border-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
    background-size: 1px 1px;

  }
}

code {
  font-family: $mono-font-family;
  font-size: 12px;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}



// Image modal/lightbox

.active-modal {
    border: 3px solid red;
}

#modal-overlay {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all 0.3s;
    &.active{
        visibility: visible;
        opacity: 1;
        #modal {
            #modal-content {
                transform: scale(1);
            }
        }
    }

    &.add-bg{
        #modal {
            #modal-content {
                background: $body-background-color;
            }
        }

    }
    #modal {
        transition: all 0.3s;
        //display: block;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        position: relative;
        width: 90%;
        margin: auto;
        top: 50%;
        transform: translateY(-50%);
        #modal-img {
            cursor: zoom-out;
            display: block;
            position: relative;
            max-height: 90vh;
            margin: auto;
        }


        #modal-content{
          transition: all 0.3s;
          transform: scale(0.7);
        }

        #modal-description {
          color: #fff;
          text-align: center;
          padding: 1em;
        }

      }

    .modal-btn{
      font-size: 50px;
      display: block;
      color:$grey-dk-000;
      cursor: pointer;
      transition: color 0.2s;

      &:hover{
        color:$grey-lt-300;
      }


    }

    #modal-close {
      font-size: 30px;
      position: absolute;
      top: 0;
      right: 0;
      padding: 15px;
    }

}

//
// Base element style overrides
//
// stylelint-disable selector-no-type, selector-max-type

* {
  box-sizing: border-box;
}

::selection {
  color: $white;
  background: $link-color;
}

html {
  @include fs-4;
}

body {
  font-family: $body-font-family;
  font-size: inherit;
  line-height: $body-line-height;
  color: $body-text-color;
  background-color: $body-background-color;
}

p,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul,
pre,
address,
blockquote,
dl,
div,
fieldset,
form,
hr,
noscript,
table {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 1.2em;
  margin-bottom: 0.8em;
  font-weight: 500;
  line-height: $body-heading-line-height;
  color: $body-heading-color;
}


.main-content h1, .main-content h2, .main-content h3, .main-content h4{font-weight: bolder;}

.main-content-wrap, html{
  scroll-behavior: smooth;
}

p {
  margin-bottom: 1em;
}

a {
  color: $link-color;
  text-decoration: none;
}

a:not([class]) {
  text-decoration: none;
  background-image: linear-gradient($border-color 0%, $border-color 100%);
  background-repeat: repeat-x;
  background-position: 0 100%;
  background-size: 1px 1px;

  &:hover {
    background-image: linear-gradient(rgba($link-color, 0.45) 0%, rgba($link-color, 0.45) 100%);
    background-size: 1px 1px;

  }
}

code {
  font-family: $mono-font-family;
  font-size: 12px;
  line-height: $body-line-height;
}

figure,
pre {
  margin: 0;
}

li {
  margin: 0.25em 0;
}

img {
  max-width: 100%;
  height: auto;
}

svg {
  max-width: 100%;
  height: auto;
}

svg .accent {
    fill: $base-color;
}

hr {
  height: 1px;
  padding: 0;
  margin: $sp-6 0;
  background-color: $border-color;
  border: 0;
}



// Hard Code the image gallery widths

.gallery{
  padding-right: 0.0em;
  padding-left: 0.0em;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  @include mq(sm){
    padding-right: 0.3em;
    padding-left: 0.3em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
  }
}

.gallery-10{
  @include mq(sm){
    width:9%;
  }  
}
.gallery-20{
  @include mq(sm){
    width:19%;
  }
}
.gallery-30{
  @include mq(sm){
    width:29%;
  }
}
.gallery-40{ 
  @include mq(sm){
    width:39%;
  }
}
.gallery-50{
  @include mq(sm){
    width:49%;
  }
}
.gallery-60{
  @include mq(sm){
    width:59%;
  }
}
.gallery-70{
  @include mq(sm){
    width:69%;
  }
}
.gallery-80{
  @include mq(sm){
    width:79%;
  }
}
.gallery-90{
  @include mq(sm){
    width:89%;
  }
}


