//
// Buttons and things that look like buttons
//
// stylelint-disable color-named

.btn {
  display: inline-block;
  box-sizing: border-box;
  padding-top: 0.3em;
  padding-right: 1em;
  padding-bottom: 0.3em;
  padding-left: 1em;
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  font-weight: 500;
  line-height: 1.5;
  color: $link-color;
  text-decoration: none;
  vertical-align: baseline;
  cursor: pointer;
  background-color: $base-button-color;
  border-width: 0;
  border-radius: $border-radius;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 3px 10px rgba(0, 0, 0, 0.08);
  appearance: none;
  transition: all 0.2s;

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: 0 0 0 3px rgba(invert($body-background-color), 0.25), 0 0 0 0px rgba(0, 0, 0, 0.08);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: 0 0 0 3px rgba(invert($body-background-color), 0.25), 0 0 0 0px rgba(0, 0, 0, 0.08);
  }

  &:hover,
  &.zeroclipboard-is-hover {
    color: lighten($link-color, 5%);
  }

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    text-decoration: none;
    background-color: lighten($base-button-color, 5%);
  }

  &:active,
  &.selected,
  &.zeroclipboard-is-active {
    background-color: darken($base-button-color, 3%);
    background-image: none;
  }

  &.selected:hover {
    background-color: darken(#dcdcdc, 5%);
  }

  &:disabled,
  &.disabled {
    &,
    &:hover {
      color: rgba(102, 102, 102, 0.5);
      cursor: default;
      background-color: rgba(229, 229, 229, 0.5);
      background-image: none;
      box-shadow: none;
    }
  }
}

.btn-outline {
  &.btn-primary {
    color: $link-color;
    background: $body-background-color;
    box-shadow: inset 0 0 0 2px $btn-primary-color, 0 0 0 0px $btn-primary-color;;

    &:hover,
    &:active,
    &.zeroclipboard-is-hover,
    &.zeroclipboard-is-active {
      color: $body-background-color; //lighten($link-color, 20%);
      background: $btn-primary-color;
      box-shadow: inset 0 0 0 2px $btn-primary-color,0 0 0 0px $btn-primary-color;;
    }

    &:focus {
      text-decoration: none;
      outline: none;
      box-shadow: inset 0 0 0 0px $btn-primary-color, 0 0 0 3px $btn-primary-color;
    }

    &:focus:hover,
    &.selected:focus {
      box-shadow: inset 0 0 0 0px $btn-primary-color, 0 0 0 3px $btn-primary-color;
    }
  }
}


.btn-outline {

  color: $link-color;
  background: $body-background-color;
  box-shadow: inset 0 0 0 2px $base-button-color, 0 0 0 0px rgba(invert($body-background-color), 0.25);

  &:hover,
  &:active,
  &.zeroclipboard-is-hover,
  &.zeroclipboard-is-active {
    background: $base-button-color;
    box-shadow: inset 0 0 0 2px $base-button-color, 0 0 0 0px rgba(invert($body-background-color), 0.25);
  }

  &:focus {
    text-decoration: none;
    outline: none;
    box-shadow: inset 0 0 0 0px lighten($base-button-color,5%), 0 0 0 3px rgba(invert($body-background-color), 0.25);
  }

  &:focus:hover,
  &.selected:focus {
    box-shadow: inset 0 0 0 0px lighten($base-button-color,5%), 0 0 0 3px rgba(invert($body-background-color), 0.25);
  }
}



.btn-primary {
  @include btn-color($body-background-color, $btn-primary-color);
}

.btn-purple {
  @include btn-color($body-background-color, $purple-100);
}

.btn-blue {
  @include btn-color($body-background-color, $blue-000);
}

.btn-green {
  @include btn-color($body-background-color, $green-100);
}
