//
// Labels (not the form kind)
//


// Image modal/lightbox

.active-modal {
    border: 3px solid red;
}

#modal-overlay {
    display: block;
    visibility: hidden;
    position: fixed;
    z-index: 101;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.8);
    opacity: 0;
    transition: all 0.3s;
    &.active{
        visibility: visible;
        opacity: 1;
        #modal {
            #modal-content {
                transform: scale(1);
            }
        }
    }

    &.add-bg{
        #modal {
            #modal-content {
                background: $body-background-color;
            }
        }

    }
    #modal {
        transition: all 0.3s;
        //display: block;
        display: flex;
        justify-content: space-between ;
        align-items: center;
        position: relative;
        width: calc(100vw - 20px);
        height: calc(100vh -  #{$lightbox-nav-height});
        margin: auto;

        @include mq(md){
          width: calc(100vw - 80px);
        } 



        #modal-content{
          transition: all 0.3s;
          transform: scale(0.7);
          margin: auto;
          display: flex;
          flex-direction: column;
          align-items: center;
        }

        #modal-img {
            //cursor: zoom-out;
            display: block;
            position: relative;
            max-width: 100%;
            margin-top: 10px;
            object-fit: contain;
            max-height: calc(100vh -  #{$lightbox-nav-height} - 2.4em);
        }

        #modal-description {
          color: #fff;
          text-align: center;
          padding: 0.5em;
          @include fs-3;

        }

      }

    .modal-btn{
      display: block;
      color:$grey-dk-000;
      cursor: pointer;
      transition: all 0.2s;
      padding: 10px;
      background: none;
      border: none;

      .svg-inline--fa{
        min-width: 1em;
        font-size: 50px;
        margin:0;
      }

      &:hover{
        color:$grey-lt-300;
      }
    }


    
    #modal-img-a{
      //transition: all 0.2s;
      //border-radius: 2.0em;

      &:hover{
      }
    }
    
    /*
    #modal-img-a{
      @include fs-4;
          padding:0.7em;
          padding-right: 1.0em;
          padding-left: 1.0em;
          margin: auto;
          display: inline-block;
          background: $grey-dk-000;
          color: $grey-dk-300;
          transition: all 0.2s;
          border-radius: 2.0em;

          &:hover{
            background:$grey-lt-300;
          }
        }
        */

    .modal-small-nav-container{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      z-index: 2000;
      position: absolute;
      width: 100%;
      bottom: 0;
      height: $lightbox-nav-height;
    }

    .modal-small-nav{
      visibility: visible;
        // @include mq(md){
        //visibility: hidden;
      //} 
    }

    .modal-main-nav{
      display:none;
      @include mq(md){
        display:block;
      } 
    }

    #modal-close {
      z-index: 2000;
      position: absolute;
      top: 0;
      right: 0;
      //padding: 15px;
      .svg-inline--fa{
        font-size: 30px;
      }
    }

    .modal-btn-hidden{
      visibility: hidden;
      opacity: 0;
    }

}


.img-callout{
  transition: all 0.1s !important;
  box-shadow: 0 0 0px 4px $base-color ;
}


// Hard Code the image gallery widths

.gallery{
  padding-right: 0.0em;
  padding-left: 0.0em;
  padding-top: 1.0em;
  padding-bottom: 1.0em;
  @include mq(sm){
    padding-right: 0.3em;
    padding-left: 0.3em;
    padding-top: 1.0em;
    padding-bottom: 1.0em;
  }
}

.gallery-10{
  @include mq(sm){
    width:9%;
  }  
}
.gallery-20{
  @include mq(sm){
    width:19%;
  }
}
.gallery-30{
  @include mq(sm){
    width:29%;
  }
}
.gallery-40{ 
  @include mq(sm){
    width:39%;
  }
}
.gallery-50{
  @include mq(sm){
    width:49%;
  }
}
.gallery-60{
  @include mq(sm){
    width:59%;
  }
}
.gallery-70{
  @include mq(sm){
    width:69%;
  }
}
.gallery-80{
  @include mq(sm){
    width:79%;
  }
}
.gallery-90{
  @include mq(sm){
    width:89%;
  }
}
