//
// Defualt Syntax Theme - DARK
//

$code-main:f8f8f2;
$code-comments:#586e75;
$code-error:#93a1a1;
$code-keyword:#859900;
$code-number:#93a1a1;
$code-operator:#2aa198;
$code-class:#268bd2;
$code-string:#2aa198;