//
// Monokai Syntax Theme - LIGHT
//

$code-main:000000;
$code-comments:#A3A3A3;
$code-error:#960050;
$code-keyword:#FF0059;
$code-number:#633EA3;
$code-operator:#FF0059;
$code-class:#70AD00;
$code-string:#BAA400;
