//
// Monokai Syntax Theme - DARK
//

$code-main:f8f8f2;
$code-comments:#75715e;
$code-error:#960050;
$code-keyword:#66d9ef;
$code-number:#ae81ff;
$code-operator:#f92672;
$code-class:#a6e22e;
$code-string:#e6db74;